.detalis {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;


    &_header {
        text-align: center;
        font-weight: 600;
        font-size: 45px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 0 0 calc((100%/3) - 30px);
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.box_left {
    display: flex;
    align-items: flex-start;
    flex: 0 0 calc((100%/3) - 30px);
    gap: 20px;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.container {
    display: flex;
    background-color: #24583f32;
    border-radius: 20px;
    border: 1px solid #486444;
    flex-direction: column;
    padding: 20px;
    flex: 0 0 calc((100%/3) - 40px);
    

    &_header {
        font-size: 20px;
        text-align: center;

    }
}

.notes {
    border: 1px dotted #486444;
    border-radius: 20px;
    padding: 10px;
    overflow: visible;
}

.list {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.plant {
    font-size: 15px;
}

.row {
    margin-top: 5px;
}




